{% extends 'strona_protetyczna/base.html' %}

{% block main %}
    <h1>Kontakt</h1>
    <p>Dane kontaktowe:</p>

    <ul class="contact-list">
        <li>Telefon: Osoba kontaktowa 1 - 111111111</li>
        <li>Email: Osoba.kontaktowa.1@firma.com </li>
    </ul>

    <ul class="contact-list">
        <li>Telefon: Osoba kontaktowa 2 - 222222222</li>
        <li>Email: Osoba.kontaktowa.2@firma.com </li>
    </ul>

    <ul class="contact-list">
        <li>Telefon: Osoba kontaktowa 3 - 333333333</li>
        <li>Email: Osoba.kontaktowa.3@firma.com </li>
    </ul>

    <h2>Lokalizacja</h2>
    <a href="https://www.google.com/maps/place/Museum+of+the+Wielkopolska+Uprising+of+1918-1919/@52.4090354,16.9289581,600m/data=!3m2!1e3!5s0x47045b38a79a4d35:0x9ec2a7cfc213cae9!4m15!1m8!3m7!1s0x470444d2ece10ab7:0xa4ea31980334bfd1!2zUG96bmHFhA!3b1!8m2!3d52.4056786!4d16.9312766!16zL20vMDV4bnY!3m5!1s0x47045b4757e18f23:0xc7ace77c785447ba!8m2!3d52.4082734!4d16.9331544!16s%2Fg%2F120nqh5y?entry=ttu&g_ep=EgoyMDI1MDUxNS4wIKXMDSoASAFQAw%3D%3D" target="_blank">
        Zobacz lokalizację na mapie
    </a>
    <li> <iframe
        src="https://www.google.com/maps/place/Museum+of+the+Wielkopolska+Uprising+of+1918-1919/@52.4090354,16.9289581,600m/data=!3m2!1e3!5s0x47045b38a79a4d35:0x9ec2a7cfc213cae9!4m15!1m8!3m7!1s0x470444d2ece10ab7:0xa4ea31980334bfd1!2zUG96bmHFhA!3b1!8m2!3d52.4056786!4d16.9312766!16zL20vMDV4bnY!3m5!1s0x47045b4757e18f23:0xc7ace77c785447ba!8m2!3d52.4082734!4d16.9331544!16s%2Fg%2F120nqh5y?entry=ttu&g_ep=EgoyMDI1MDUxNS4wIKXMDSoASAFQAw%3D%3D"
        width="1200" height="900" style="border:0;"
        allowfullscreen="" loading="lazy">
    </iframe>

{% endblock %}